
@{
    ViewBag.Title = "Calificaciones";
    Layout = "~/Views/Shared/SiteMaster.cshtml";
}
<div class="py-4">
    <div class="row m-0">
        <div class="col-md-4">
            <!-- Select para hacer un filtro de los alumnos por grupos, se consultara desde la base de datos
            segun el grupo los nombres de los alumnos -->
            <h3 class="font-weight-bold text-center py-2">Grupo</h3>
            @Html.DropDownList("ListaGrupos", (List<SelectListItem>)ViewBag.ListaGrupos, new { @class = "form-control"})
            @*<select name="cuatri" class="custom-select font-weight-bold rounded py-2" id="cuatri">
                    <option value="1">9°A</option>
                    <option value="2">3°A</option>
                    <option value="3">10°A</option>
                    <option value="4">1°C</option>
                </select>*@
            <!-- Segun el grupo seleccionado en el select, seran los alumnos que se dibujaran en el list-group
            y a cada uno se le asignara su calificacion por medio del formulario -->
            <h3 class="font-weight-bold text-center py-2">Listado de Alumnos</h3>
            @Html.DropDownList("ListadoAlumnos", new SelectList(string.Empty, "Value", "Text"), "-- Alumnos --"
                                , htmlAttributes: new { @class = "form-control"})
        </div>
        <div class="col-md-8">
            <h3 class="font-weight-bold text-center py-2">Calificaciones</h3>
            <div class="tab-pane fade show active" id="list-nombre1" role="tabpanel" aria-labelledby="9A">
                <div class="font-weight-bold">
                    <div class="row m-0">
                        <i class="fas fa-user px-1"></i>
                        <!-- Al seleccionar a un alumno se añadira el nombre en el input y se le asignara una calificacion
                        el encargado puede, borrar y añadir calificaciones -->
                        <p>Alumno</p>
                        @*<input type="text" name="user" class="form-control font-weight-bold rounded py-1 m-0" required />*@
                        @Html.TextBox("Alumno", "", new { @class = "form-control font-weight-bold rounded py-1 m-0" })
                    </div>
                    <div class="row m-0 py-4">
                        <i class="fas fa-clipboard-list px-1"></i>
                        <p>Calificacion</p>
                        <input type="text" name="user" id="Calf" class="form-control font-weight-bold rounded py-1 m-0" required />
                    </div>
                    <div class="w-100 justify-content-end d-flex">
                        <div class="justifi-content-between">
                            <a id="Borrar" class="btn btn-danger font-weight-bold">
                                <i class="fas fa-trash px-1 font-weight-bold"></i>
                                <span>Borrar</span>
                            </a>
                            <a id="Save" class="btn btn-success font-weight-bold">
                                <i class="fas fa-save px-1 font-weight-bold"></i>
                                <span>Guardar</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="list-nombre2" role="tabpanel" aria-labelledby="3A">
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


<script>

    $(document).ready(function () {

        $("#Save").click(function () {

            $.ajax({

                data: "POST",
                url: "@Url.Action("GuardarCalificacion", "Maestros")",
                dataType: "JSON",
                data: { AlumnoId: $("#ListadoAlumnos").val(), Calf: $("#Calf").val() },
                success: function (data) {

                    if (data > 0) {

                        alert("Calificacion Asignada");

                        $("#Alumno").val("");
                        $("#Calf").val("");

                    } else {

                        alert("Un error ha ocurrido favor de contactar al departamento de Sistemas");

                        $("#Alumno").val("");
                        $("#Calf").val("");

                    }

                }

            });

        });

        $("#Borrar").click(function () {

            $("#Alumno").val("");
            $("#Calf").val("");

        });

        $("#ListadoAlumnos").change(function () {

            $.ajax({

                type: "POST",
                url: "@Url.Action("GetAlumnoById", "Maestros")",
                dataType: "JSON",
                data: { Id: $("#ListadoAlumnos").val() },
                success: function (data) {

                    $("#Alumno").val(data);

                }

            });

        });

        $("#ListaGrupos").change(function () {

            $("#ListadoAlumnos").empty();

            $.ajax({

                type: "POST",
                url: "@Url.Action("GetAlumnos", "Maestros")",
                dataType: "JSON",
                data: { GrupoId: $("#ListaGrupos").val() },
                success: function (lst) {

                    $.each(lst, function (i, lst) {
                        $("#ListadoAlumnos").append('<option value="' + lst.Value + '">' + lst.Text + '</option>')
                    });

                },
                error: function (ex) {
                    alert('Failed.' + ex);
                }

            });

        });

    });

</script>